@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-MITRE-blue: #005b94;
  --color-MITRE-highlighter: #fff601;
  --color-MITRE-dark-navy: #0b2338;
  --color-MITRE-navy: #0d2f4f;
  --color-MITRE-light-blue: #87deff;
  --color-MITRE-black: #111921;
  --color-MITRE-dark-gray: #7e8284;
  --color-MITRE-silver: #d4d4d3;
  --color-MITRE-light-silver: #f1f3f4;
  --color-MITRE-white: #ffffff;
  --color-DARKMODE-dark-bg: #1f1a24;
  --color-DARKMODE-dark-text: #9ca3af;
}
